*{
	padding: 0px;
	margin: 0px;
}
body{
	width: 100%;
	font-family: 'Inconsolata', monospace;
	

}
nav, footer{
	border-top: groove 2px black;
	border-bottom: groove 2px black;
	display: flex;
	justify-content: space-around;
	padding: 1%;
	margin: 2% 5%;
	

}

div{
	border: groove 2px blue;
	padding: 2%;
	
}



nav ul, footer ul{
	display: flex;
	list-style: none;
}
nav li, footer li{
	padding-right: 5%;
	white-space: nowrap;
}

li a, nav a{
	text-decoration: none;
	color: black;
}



/*.top{
	margin: 1%;
	margin-left: 3%;
	font-size: 2vw;

}*/
.woke{
	text-align: center;
	font-size: 6vw;
}

.tag{
	text-align: center;
	margin-top: 1%;

}

.fpi{
	height: 350px;
	width: 550px;
	/*padding-right: 2%;*/
}
.fp1{
	
	width:450px;
	height: 450px;
	
}
.fp{
	display: flex;
	padding-left: 5%;
	padding-right: 10%;
}

.pefp{
	padding-left: 2%;
	padding-right: 2%;
	flex-direction: row-reverse;

}

.logo{
	width: 25px;
	border-radius: 90%;

}
/*.paras p{
	
}*/

p{
	line-height: 1.4;
	font-size: 18px;
	margin-bottom: 2%;
}

.coli, .colib{
	height: 350px;
	width: 350px;
	border: ridge lightgrey 4px;
}


.oic{
	text-transform: uppercase;
}

.heads{
	margin: 1%;
	margin-left: 2%;
}

.sub{
	text-align: center;
	/*margin-bottom: 2%;*/
}

#openpara{
	padding-left: 12%;
}

.quests{
	text-align:  center;
}


