*{
	padding: 0px;
	margin: 0px;
}
body{
	width: 100%;
	font-family: 'Inconsolata', monospace;
	

}
nav{
	border: groove 2px blue;
	padding: 2%;
	display: flex;

}
div{
	border: groove 2px blue;
	padding: 2%;
	
}



nav ul{
	display: flex;
	list-style: none;
}
nav li{
	padding-right: 5%;
	white-space: nowrap;
}

li a{
	text-decoration: none;
	color: black;
}

nav{
	justify-content: space-around;
	padding: 1%;
}

.top{
	margin: 1%;
	font-size: 2vw;
}
.woke{
	text-align: center;
	font-size: 6vw;
}

.tag{
	text-align: center;
	margin-top: 1%;
}

.fpi{
	height: 350px;
	width: 550px;
	padding-right: 2%;
}

#fp{
	display: flex;
	padding-left: 5%;
	padding-right: 25%;
}

.logo{
	width: 25px;

	border-radius: 90%;

}
