body{
    width: 100%;
    font-family: 'Questrial', sans-serif;
}

div{
    
    padding: 2%;
}

nav{
    border-top: solid #424C55 2px;
    border-bottom: solid #424C55 2px;
    margin: 0px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    padding: 1%;
}
nav ul{
    display: flex;
    justify-content: center;
}

nav li{
    list-style: none;
    padding-right: 5%;
   
}

a{
    text-decoration: none;
    color:  #424C55;
    font-size: 20px;
    font-weight: lighter;
}
a:hover{
    font-size: 20.8px;
    color: #e71d36;
}
.title, .pagetit{
    text-align: center;
    font-size: 6vw;
    color: #424C55;
    margin: 0px;
}
.pagetit{
    font-size: 2vw;
    margin-top: 3%;
}
span{
    color: #2EC4B6;
}
.parent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px;
}
.kids{
    width: 350px;
}

footer{
    background-color: #e71d36;
    /*border-top: solid 2px;
    border-bottom: solid 2px;*/
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
footer ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer li{
    list-style: none;
    padding-right: 5%;
    font-size: 20px;
    font-weight: lighter;
    white-space: nowrap;
   
}
footer a{
    color: black;
}
footer a:hover{
    color: #2EC4B6;
}
p{
  color: #424C55;
}