body{
    width: 100%;
    font-family: 'Questrial', sans-serif;
}

div{
    border: solid green 2px;
    padding: 2%;
}

nav{
    border: solid 2px;
    padding: 2%;
}
nav ul{
    display: flex;
    justify-content: center;
}

nav li{
    list-style: none;
    padding-right: 5%;
   
}

a{
    text-decoration: none;
    color: black;
}
.title{
    text-align: center;
    font-size: 6vw;
    color: #424C55;
    margin: 0px;
}
span{
    color: #2EC4B6;
}
.parent{
    display: flex;
    justify-content: space-around;
}
footer{
    border: solid 2px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
footer ul{
    display: flex;
    justify-content: center;
}

footer li{
    list-style: none;
    padding-right: 5%;
   
}